doctype html
html
  head
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Poppins:400,600,700|Vollkorn:400,400i")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="../css/individual.css")
    meta(name="viewport" content="width=device-width, initial-scale = 1.0 user-scalable=no")
  body
    main#main
      .project
        .project--overview
          img(src="../img/cakefactory.png").project--overview--devices
          .project--overview--scroll-line
        .project--information
          h1.project--information--heading Cake factory
          hr.project--information--delimiter
          // change bullets to html notation
          p.project--information--tools JAVASCRIPT • HTML • CSS • JQUERY • PUG • SASS • GULP
          p.project--information--description Cake factory is a website for a cake-baking company. On their website you can find all the details needed for ordering a custom, hand-made cake created by them. You can also find all the information about them in the footer.
          .project--information--buttons.buttons
            button.buttons--github Github
            button.buttons--live Pagina live